#pages ul {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column wrap;
    align-content: stretch;
}

@media (min-width: 1000px) {
    #pages ul {
        max-height: 13em;
    }
}

#pages ul li {
    margin: 0.2em 1em 0.2em 0;
    min-width: 20em;
    list-style: none;
    flex: 1 1 0;
    border-bottom: 1px transparent solid;
    padding-bottom: 1px;
}

#pages ul li.current {
    border-bottom-color: inherit;
}

#pages ul li.current a {
    color: inherit;
    text-decoration: none;
}

body > div {
    max-width: 1000px;
    margin: auto;
}

#byline {
    text-align: right;
}

#previous {
    width: 50%;
    float: left;
    text-align: left;
}

#next {
    width: 50%;
    float: left;
    text-align: right;
}

#footer {
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 1em;
    border: 2px solid #b0b0b0;
    background-color: #dcdcdc;
}

a {
    text-decoration: inherit;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1 a {
    text-decoration: inherit;
    color: inherit;
}
