{#  @var planet PhpAsASecondLanguage\Planet  #}
<!doctype html>
<html lang="en">
    <head>
        <title>{{planet.name}}</title>
    </head>
    <body>
        <h1>{{planet.name}}</h1>
        <p>Population: {{planet.populationSize}}</p>

        <p><em>This is page was generated from a Twig template.</em></p>
    </body>
</html>
