<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>PHP as a Second Language</title>
    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div>
    <div id="draft">DRAFT</div>
    <h1>PHP as a Second Language</h1>
    <div id="pages">
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.filename }}.html">{{ page.filename }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <article>
        {{ body | raw }}
    </article>

    <div id="byline">
        Copyright Barney Laurance 2020
    </div>

    <div id="footer">
    <p>
        <em>
        This is a very early draft website. It is here only to be created and critiqued.
            Use of the site for learning PHP is not yet recommended. The source repository for this site is at
            <a href="https://github.com/bdsl/phpTutorial">https://github.com/bdsl/phpTutorial</a>
        </em>
    </p>

    <p><em>Site built {{ "now"|date("D, d M Y H:i", "Europe/London") }}.</em></p>

    </div>
    <script src="js/scripts.js"></script>
</div>
</body>
</html>